*.pyc
*.pth
*.code-workspace
*.tfevents.*

_old/
tmp/

Graphonomy/data/datasets/instance-level_human_parsing/
Graphonomy/data/datasets/CIHP_4w/Categories/*.png
Graphonomy/data/datasets/CIHP_4w/Category_ids/*.png
Graphonomy/data/datasets/CIHP_4w/Category_rev_ids/*.png
Graphonomy/data/datasets/CIHP_4w/Human/*.png
Graphonomy/data/datasets/CIHP_4w/Human_ids/*.png
Graphonomy/data/datasets/CIHP_4w/Images/*.png
Graphonomy/data/datasets/CIHP_4w/Instance_ids/*.png
Graphonomy/data/datasets/CIHP_4w/Instances/*.png

Graphonomy/data/datasets/CIHP_4w/Categories/*.jpg
Graphonomy/data/datasets/CIHP_4w/Category_ids/*.jpg
Graphonomy/data/datasets/CIHP_4w/Category_rev_ids/*.jpg
Graphonomy/data/datasets/CIHP_4w/Human/*.jpg
Graphonomy/data/datasets/CIHP_4w/Human_ids/*.jpg
Graphonomy/data/datasets/CIHP_4w/Images/*.jpg
Graphonomy/data/datasets/CIHP_4w/Instance_ids/*.jpg
Graphonomy/data/datasets/CIHP_4w/Instances/*.jpg


Graphonomy/data/datasets/ATR/Categories/*.png
Graphonomy/data/datasets/ATR/Category_ids/*.png
Graphonomy/data/datasets/ATR/Category_rev_ids/*.png
Graphonomy/data/datasets/ATR/Human/*.png
Graphonomy/data/datasets/ATR/Human_ids/*.png
Graphonomy/data/datasets/ATR/Images/*.png
Graphonomy/data/datasets/ATR/Instance_ids/*.png
Graphonomy/data/datasets/ATR/Instances/*.png

Graphonomy/data/datasets/ATR/Categories/*.jpg
Graphonomy/data/datasets/ATR/Category_ids/*.jpg
Graphonomy/data/datasets/ATR/Category_rev_ids/*.jpg
Graphonomy/data/datasets/ATR/Human/*.jpg
Graphonomy/data/datasets/ATR/Human_ids/*.jpg
Graphonomy/data/datasets/ATR/Images/*.jpg
Graphonomy/data/datasets/ATR/Instance_ids/*.jpg
Graphonomy/data/datasets/ATR/Instances/*.jpg

Graphonomy/data/datasets/pascal/Categories/*.png
Graphonomy/data/datasets/pascal/Category_ids/*.png
Graphonomy/data/datasets/pascal/Category_rev_ids/*.png
Graphonomy/data/datasets/pascal/Human/*.png
Graphonomy/data/datasets/pascal/Human_ids/*.png
Graphonomy/data/datasets/pascal/Images/*.png
Graphonomy/data/datasets/pascal/Instance_ids/*.png
Graphonomy/data/datasets/pascal/Instances/*.png

Graphonomy/data/datasets/pascal/Categories/*.jpg
Graphonomy/data/datasets/pascal/Category_ids/*.jpg
Graphonomy/data/datasets/pascal/Category_rev_ids/*.jpg
Graphonomy/data/datasets/pascal/Human/*.jpg
Graphonomy/data/datasets/pascal/Human_ids/*.jpg
Graphonomy/data/datasets/pascal/Images/*.jpg
Graphonomy/data/datasets/pascal/Instance_ids/*.jpg
Graphonomy/data/datasets/pascal/Instances/*.jpg

